@font-face {
  font-family: "KyivTypeSansHeavyThinMidline";
  src: url("webFonts/KyivTypeSansHeavyThinMidline/font.woff2") format("woff2"),
    url("webFonts/KyivTypeSansHeavyThinMidline/font.woff") format("woff");
}
@font-face {
  font-family: "KyivTypeSansBlackThinMidline";
  src: url("webFonts/KyivTypeSansBlackThinMidline/font.woff2") format("woff2"),
    url("webFonts/KyivTypeSansBlackThinMidline/font.woff") format("woff");
}
@font-face {
  font-family: "KyivTypeSansBoldThinMidline";
  src: url("webFonts/KyivTypeSansBoldThinMidline/font.woff2") format("woff2"),
    url("webFonts/KyivTypeSansBoldThinMidline/font.woff") format("woff");
}
