$latoFont: "Lato", sans-serif;
$interFont: "Inter", sans-serif;
$poppinsFont: "Poppins", sans-serif;
$kyivTypeFont: "KyivTypeSansBoldThinMidline", sans-serif;
$plusJakartaSansFont: "Plus Jakarta Sans", sans-serif;

$black: #000000;
$white: #ffffff;
$transparent: transparent;
$eightZero: #808080;
$cccccc: #cccccc;
$headerColor: #f7f7f7;
$secondHeaderColor: #f4f4f6;
$primaryColor: #28a263;
$outlineSuccess: #c0f497;
$secondaryColor: #313131;
$darkBg: #1b1b1b;
$borderGreen: #16ab5e;
$lightText: #a1a1a1;
$labelBg: #242424;
$labelColor: #ff4f3d;
$buttonBorder: #333647;
$productSliderBg: #111218;
$productSliderDescColor: #9c9eab;
$productSliderTitleColor: #c8c9d0;
$productSliderTitleDescColor: #868898;
